/*
=============================
======== ShoppingCart =======
=============================
*/

.aktiv
{
    right: 0;
}

div a
{
    color: black;
    text-decoration: none;
}
.warenkorbcontainer
{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    z-index: 1;
}

.warenkorb
{
    background-color: rgb(255, 255, 255);
    bottom: 0;
    overflow-y: auto;
    position: fixed;
    right: -100%;
    top: 0;
    transition: right .35s ease;
    max-width: 450px;
    width: 80%;
    height: 100%;
    right: 0;
    box-shadow: -3px 0 10px rgba(0,0,0,0.5);
}

.warenkorb-header
{
    display: block;
    margin: 0 2vw;
}
.warenkorb-header > p
{
    font-size: 20px;
    color: #5331a3;
    text-align: center;
}

.warenkorbinhalt
{
    padding: 1rem 2rem;
}

.warenreihe
{
    width: 100%;
}

table
{
    border-collapse: collapse;
}

.warenreihe img
{
    max-width: none;
    height: 50px;
    width: 50px;
}

.warenkorbliste .produktname
{
    margin: 0;
}

.shopping-cart-item-picture
{
    width: 25px;
    height: 25px;
}

.shopping-cart-remove-item-btn
{
    /* kein */
    padding: 0; 
    border: none; 
    background: none; 
    cursor: pointer;
}

.shopping-cart-remove-item-btn b
{
    color: red; 
    background-color: white;   
}

.noHover:hover
{
    background-color: rgb(255, 255, 255);
}

input[type= "submit"],
button[type= "submit"]
{
    background-color: white;
    padding: 0;
}

.aktiv > p
{
    text-align:center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.aktiv > form button
{
    margin-left: -38.35px;
    position: relative;
    left: 50%
}

