body
{
    margin: 0;
}

header
{
    background-color: #5331a3; /*#7209B7 | 3a0ca3*/
}

header > nav
{
    width: 100%;
}

header > nav > ul
{
    width: 100%;
    display: table;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    table-layout: fixed;
}

header > nav > ul > li,
header > nav > ul > a
{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    height: 100%;
}


nav ul a:hover {
    background-color: #4361ee;
    /* #f72585
    4361ee*/
}

nav ul .no-hover {
    cursor: context-menu;
}

nav ul .no-hover a {
    text-decoration: none;
}

nav ul .no-hover:hover {
    background-color: #5331a3;
    /*#7209B7
    3a0ca3*/
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1300px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

div ul {
    display: table;
    width: 100%;
    display: table;
    text-align: center;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    table-layout: fixed;
}

.content li {
    box-sizing: border-box;
    border-bottom: 1px solid #5331a3;
    border-right: 1px solid #5331a3;
    float: left;
    min-height: 514px;
    margin: 0 0 -1px;
    padding: 20px;
    position: relative;
    width: 33.333%;
}

.content li.rechts {
    border-right: none;
}

.produkt-tabelle .produkt-name a {
    text-overflow: ellipsis;
    padding: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    width: 90%;
    text-align: left;
    color: #f72585;
    font-size: 20px;
    font-weight: 500;
}

.login-form {
    margin: 12vh auto;
    color: white;
    text-align: center;
    background-color: #5331a3; /*3a0ca3*/
    width: 363px;
    padding: 50px 0 70px;
    border-radius: 6px;
}

.login-form input:not([type="checkbox" i]),
.button {
    border: 1px solid #8a8a8a;
    border-radius: 4px;
    padding: 0 0 0 10px;
    width: 290px;
    height: 35px;
}


.login-form-error input:not([type="checkbox" i]):not([type="submit" i])
{
    border: 1px solid red;
    border-radius: 4px;
    padding: 0 0 0 10px;
    width: 290px;
    height: 35px;
}

:focus {
    outline: none;
}

.login-form input#firstname,
input#lastname {
    display: inline-block;
    width: 38%;
    margin-bottom: 5px;
}

.login-form input#username,
input#passwordconfirm {
    margin-bottom: 5px;
}

.login-form input[type="submit" i],
.button {
    margin: 10px 0 0;
    background-color: #4361ee;
    /*4361ee*/
    color: white;
    border-style: none;
    border-radius: 22px;
    cursor: pointer;
    text-decoration: none;
}

.login-form input[type="submit" i]:hover,
.button:hover {
    background-color: #6780ec;
    /*6780ec*/
}

.login-form input[type="checkbox" i] {
    text-align: left;
    margin: 10px;
}

.registration-form {
    margin: 12vh auto;
    color: white;
    text-align: center;
    background-color: #5331a3;
    /*3a0ca3*/
    width: 363px;
    padding: 50px 0 70px;
    border-radius: 6px;
    /*7209b7*/
}

.registration-form input:not([type="checkbox" i]),
.button {
    border: 1px solid #dfebf2;
    border-radius: 4px;
    padding: 0 0 0 10px;
    width: 290px;
    height: 35px;
}

.registration-form input#firstname,
input#lastname {
    display: inline-block;
    width: 38%;
    margin-bottom: 5px;
}

.registration-form input#username,
input#passwordconfirm {
    margin-bottom: 5px;
}

.registration-form input[type="submit" i],
.button {
    margin: 10px 0 0;
    background-color: #4361ee;
    /*4361ee*/
    color: white;
    border-style: none;
    border-radius: 22px;
    cursor: pointer;
    text-decoration: none;
}

.registration-form input[type="submit" i]:hover,
.button:hover {
    background-color: #6780ec;
    /*6780ec*/
}

.registration-form input[type="checkbox" i] {
    text-align: left;
    margin: 10px;
}

footer {
    width: 100%;
    bottom: 0;
    text-align: center;
}

.button a {
    color: white;
    text-decoration: none;
    display: block;
}

div.rememberMe {
    display: inline-block;
    text-align: left;
}

label {
    color: white;
}