/*
==============================
=========Allgemeines==========
==============================
*/
body
{
    /* font-family: 'Average',  'Times New Roman'; */
    /* font-family: 'Aclonica', 'Times New Roman'; */
    font-family: 'Averia Serif Libre', 'Times New Roman';
    min-height: 100vh;
    margin: 0;
    clear: both;
}

.belowbody
{
    min-height: 100%;
    /* position: relative; */
}

.stuff
{
    padding-bottom: 100px;
}
footer 
{
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: grey;
    text-align: center;
}

h1
{
    text-align: center;
}

.wrapall
{
   overflow:auto;
   position: relative;
   height: 100vh;
   width: 100vw;
}
/*
==============================
===Navigationsleisten Style===
==============================
*/
header
{
    background-color: #5331a3; /*#7209B7 | 3a0ca3*/
}

header > nav
{
    width: 100%;
}

header > nav > ul
{
    width: 100%;
    display: table;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    table-layout: fixed;
}

header > nav > ul > li,
header > nav > ul > a,
header > nav > ul a  li,
header > nav > ul > div > a
{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    height: 100%;
}
header > nav > ul > div > a > li
{
    display: list-item;
    text-align: -webkit-match-parent;
}


nav ul a:hover:not([type="no-hover" i]) 
{
    background-color: #4361ee; /*#f72585*/
}

nav ul .no-hover 
{
    cursor: context-menu;
}

nav ul .no-hover a 
{
    text-decoration: none;
}

nav ul .no-hover:hover 
{
    background-color: #5331a3; /*#7209B7 | 3a0ca3*/
}

.dropdown-content
{
    display: none;
    font: inherit;
    font-size: inherit;
    color: inherit;
}


/*
==============================
===Seitenmitte / Shop-Style===
==============================
*/
.content 
{
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1300px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

div ul 
{
    display: table;
    width: 100%;
    display: table;
    text-align: center;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    table-layout: fixed;
}

.content li 
{
    box-sizing: border-box;
    border-bottom: 1px solid #5331a3;
    border-right: 1px solid #5331a3;
    float: left;
    min-height: 514px;
    margin: 0 0 -1px;
    padding: 20px;
    position: relative;
    width: 33.333%;
}

.content li.rechts
{
    border-right: none;
}

.produkt-tabelle .produkt-name a
{
    text-overflow: ellipsis;
    padding: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    width: 90%;
    text-align: left;
    color: #f72585;
    font-size: 20px;
    font-weight: 500;
}

/*
=====================================
===Allgemeine Form & Login Details===
=====================================
*/
.user-form
{
    margin: 15vh auto;
    color: white;
    text-align: center;
    background-color: #5331a3; /*3a0ca3*/
    width: 363px;
    padding: 50px 0 70px;
    border-radius: 6px;
}

.user-form input#email, input#password
{
    border-radius: 4px 4px 0px 0px;
}

.login-form input#password,
.registration-form input#passwordconfirm,
.registration-form input#email
{
    margin-bottom: 5px;
    border-radius: 0 0 4px 4px;
}

.user-form input[type="submit" i],
button
{
    margin: 10px 0 0;
    background-color: #4361ee;
    color: white;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.user-form input:not([type="checkbox" i]),
button
{
    border: 1px solid #8a8a8a;
    border-radius: 4px;
    padding: 0 0 0 10px;
    width: 290px;
    height: 35px;
}

.login-form input[type="checkbox" i]
{
    text-align: left;
    margin: 10px;
}

.user-form input[type="submit" i]:hover, 
button:hover
{
    background-color: #6780ec;
}

    /*Entfernt die stadardmäßige Umrandung in Eingabefeldern*/
:focus {
    outline: none;
}

    /*Für die Schrift der "Zurück zum Login" und "Registrierungs" Knöpfe*/
.button a 
{
    color: white;
    text-decoration: none;
    display: block;
}

button:disabled
{
    background-color:gray;
    border-color: gray;
}
button:disabled:hover
{
    background-color: gray;
    cursor: not-allowed;
}

div.rememberMe 
{
    display: inline-block;
    text-align: left;
}

label 
{
    color: white;
}


/*  Bei einem Fehler werden die Eingabefelder rot umrandet, aber nicht der submit button oder das checkbox feld  */
/* .login-form-error input:not([type="checkbox" i]) :not([type="submit" i])
{
    border: 1px solid red;
    border-radius: 4px;
    padding: 0 0 0 10px;
    width: 290px;
    height: 35px;
} */

/*
==============================
=====Registration Details=====
==============================
*/
.registration-form input#firstname
{
    border-radius: 4px 0 0 0;
}

.registration-form input#lastname
{
    border-radius: 0 4px 0 0;
}

.registration-form input
{
    border: 1px solid #dfebf2;
    border-radius: 4px;
    padding: 0 0 0 10px;
    width: 290px;
    height: 35px;
}

.registration-form input#firstname,
input#lastname 
{
    display: inline-block;
    width: 37.9%;
    margin-bottom: 0px;
}

.registration-form input#email
{
    margin-bottom: 10px;
}

.registration-form input#passwordconfirm
{
    margin-bottom: 5px;
}


/*
============================================
================Bilder Größen===============
============================================
*/
img.nav-icon
{
    height: 1.84vw;
    width: 1.84vw;
    min-height: 20px;
    min-width: 20px;
}
img.logo
{
    height: 2.36vw;
    width: 5.26vw;
    min-height: 25px;
    min-width: 56px;
}
img.product-picture
{
    width: 80%;
    height: 55%;
}
