/*
==============================
=========Allgemeines==========
==============================
*/

@font-face
{
    font-family: Averia;
    src: url("../fonts/AveriaSerifLibre-Regular.ttf");
    font-weight: normal;
}

@font-face
{
    font-family: Averia;
    src: url("../fonts/AveriaSerifLibre-Bold.ttf");
    font-weight: bold;
}

body
{
    /* font-family: 'Averia Serif Libre', 'Times New Roman'; */
    font-family: 'Averia', 'Times New Roman';
    min-height: 100vh;
    margin: 0;
    clear: both;
    overflow-x: hidden;
    list-style: none;
}

a
{
    text-decoration: none;
}

.no-scrolling
{
    overflow: hidden;
}

.belowbody
{
    min-height: 100%;
    /* position: relative; */
}

.stuff
{
    min-height: calc(100vh - 100px);
    height: 100%;
    padding-bottom: 100px;
}
footer 
{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: grey;
    text-align: center;
}

h1
{
    text-align: center;
}

.wrapall
{
   overflow:auto;
   position: relative;
   height: 100%;
   width: 100vw;
}


/*
========================================
=== Navigationsleisten Style Desktop ===
========================================
*/
@media only screen and (min-width:800px) {
    nav.desktop
    {
        display:table;
    }
    nav.tablet
    {
        display: none;
    }
    
    header > nav
    {
        width: 100%;
        height: 8vh;
        font-size: 1.3vw;
    }


    header > nav > ul
    {
        width: 100%;
        display: table;
        list-style: none;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        table-layout: fixed;
        background-color: #5331a3; /*#7209B7 | 3a0ca3*/
    }


    header > nav > ul > li,
    header > nav > ul > a
    {
        display: table-cell;
        vertical-align: middle;
        cursor: pointer;
        color: #FFF;
        text-align: center;
        text-decoration: none;
        height: 100%;
    }



    nav ul a:hover:not([type="no-hover" i]),
    nav ul .dropdown-menu:hover:not([type="no-hover" i])
    {
        background-color: #4361ee; /*#f72585*/
    }


    nav ul .no-hover 
    {
        cursor: context-menu;
    }


    nav ul .no-hover a 
    {
        text-decoration: none;
    }


    nav ul .no-hover:hover 
    {
        background-color: #5331a3; /*#7209B7 | 3a0ca3*/
    }


}

@media only screen and (max-width:800px) 
{
    nav.desktop
    {
        display:none;
    }
    nav.tablet
    {
        display: table;
    }

    div.navbartrigger a.menubutton img
    {
        margin: 5px;
        height: 20px;
    }

    div.navbartrigger a.menubutton
    {
        margin-top: -17px;
        margin-left: 10px;
    }

    div.navbartrigger a.icon
    {
        position: absolute;
        top: 50%;
    }

    div.navbartrigger a.ferret
    {
        margin-top: -15px;
        margin-right: -34.5px;
        right: 50%;
    }

    div.navbartrigger a.account
    {
        margin-top: -15px;
        right: 20px;
    }

    div.navbartrigger a.cart
    {
        margin-top: -15px;
        right: 50px;
    }

    div.navbartrigger
    {
        display: flex;
        position: relative;
        width: 100vw;
        height: 50px;
        background-color: #5331a3;
    }

    #nav
    {
        position: fixed;
        top: 0;
        height: 100%;
        width: 30%;
        max-width: 400px;
        background: #5331a3;
        box-shadow: 3px 0 10px rgb(0 0 0 / 20%);
        z-index: 2;
    }

    #nav ul  li,
    #nav  ul  a
    {
        display: block;
        cursor: pointer;
        color: #FFF;
        text-align: center;
        text-decoration: none;
        height: 100%;
        margin-bottom: 2vw;
    }

    #nav .closenav
    {
        font-size: 3vw;
    }
    
    #nav:not(:target) 
    {
        left: -100%;
        transition: left 1.5s;
    }
    
    #nav:target 
    {
        left: 0;
        transition: left 1s;
    }
}
/*
==============================
===Seitenmitte / Shop-Style===
==============================
*/

/* Suchleiste & Filter */
ul.filterleiste
{
    display: table;
    position: relative;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    table-layout: fixed;
    margin: auto;
    margin-bottom: 5vh;
    border-bottom: 1px solid #5331a3;
    font-size: 1.5vw;
}

@media only screen and (min-width:1300px)
{
    ul.filterleiste
    {
        font-size: 19px;
    }
}

ul.filterleiste li
/* ul.filterleiste   a */
{
    display: table-cell;
    padding: 0 0.5em 3px 0.5em;
    vertical-align: middle;
    cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #5331a3;
}

.search-container
{
    display: inline-block;
    padding-left: 2em;
    padding-bottom: 3px;
}

.content 
{
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

div ul.produkt-tabelle 
{
    display: table;
    width: 100%;
    text-align: center;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    table-layout: fixed;
}


.content li 
{
    box-sizing: border-box;
    border-bottom: 1px solid #5331a3;
    border-right: 1px solid #5331a3;
    float: left;
    max-height: 450px;
    margin: 0 0 -1px;
    padding: 20px;
    position: relative;
    width: 33.333%;
}

.content li.rechts
{
    border-right: none;
}

.produkt-tabelle .produkt-name a
{
    text-overflow: ellipsis;
    padding: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    width: 90%;
    text-align: left;
    color: #f72585;
    font-size: 20px;
    font-weight: 500;
}

/*
=====================================
========Produkt-Details Seite========
=====================================
*/
div.detailwrapper
{
    display: flex;
    justify-content: center;
    position: relative;
}

div.pdetailspic
{
    height: 100%;
    width: 33vw;
    justify-content: center;
    margin: auto;
    display: inline-flex;
}

div.pdetailsdesc
{
    height: 100%;
    width: 33vw;
    margin: auto;
    display: inline-block;
}

div.pdetailskauf
{
    height: 100%;
    width: 33vw;
    margin: auto;
    display: inline-block;
}




/*
============================================
=============== Account ====================
============================================
*/
div.accountfield
{
    position: relative;
    margin-top: 10vh;
    width: 100vw;
    height: 100vh;
}

div.profilefield
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 5vh 20vw;
    display: inline-block;
}

div.profilefield > div
{
    text-align: center;
}

div.profilesettingfield
{
    width: 44vw;
    max-width: 400px;
    min-width: 327px;
    position: absolute;
    margin: 0 0 0 40vw;
    display: inline-block;
    background-color: rgb(240, 240, 240);
    padding: 20px;
}

div.profilesettingfield form
{
    margin-bottom: 2vh;
}

div.profilesettingfield input[type= "string"],
div.profilesettingfield input[type= "password"],
div.profilesettingfield input[type= "number"]
{
    position: absolute;
    display: inline-block;
    right: 20px;
}

div.profilesettingfield input[type= "submit"]
{
    position: absolute;
    display: block;
    margin-top: 0.5vh;
    right: 20px;
}

.profilesettingfield form > input[type= "submit"],
.adminbutton
{
    padding: 5px;
}

input[type= "submit"],
button[type= "submit"]
{
    background-color: #4361ee;
    color: white;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 4px;
}

.accountfield input[type="submit" i]:hover
{
    background-color: #6780ec;
}
.adminoptions
{
    position: absolute;
    margin-left: auto;
    display: block;
    margin-top: 350px;
    margin-left: calc(40vw + 20px);
    background-color: rgb(240, 240, 240);
    padding: 20px;
}

.adminoptions *
{
    display: block;
}

#submitNewProduct
{
    padding: 5px;
    margin-top: 10px;
}

/*
============================================
=============== Homepage ===================
============================================
*/


div.homepage > img.welcoming-field
{
    height: 50vw;
    width: 100vw;
    z-index: -1;
}

img.shoplink
{
    height: 20vw;
    width: 30vw;
    /* opacity: 0.90; */
    margin-left: 10vw;
    margin-right: 5vw;
}

div.homepage p
{
    font-size: 18px;
    text-align: center;
}

/*
============================================
=============== Contact Page ===============
============================================
*/

div.contact
{
    position: relative;
}

div.contact img
{
    width: 35vw;
    min-width: 300px;
}

div.contacttext
{
    margin-right: 20px;
    position: absolute;
    left: 30vw;
    top: 50px;
    text-align: center;
    font-size: 1.2vw;
}

@media only screen and (max-width:850px)
{
    div.contacttext
    {
        left: 250px;
        font-size: 1.5vw;
    }
}

/*
=================================================================
========================= Aktuelles =============================
=================================================================
*/
.aktuelles .saison
{
    margin-top: 2vw;
}
.saison .links
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.saison a.green
{
    color: green;
}
.saison a.current img
{
    width: 250px;
}

.aktuelles .upcoming
{
    margin-top: 7vw;
}
.aktuelles p
{
    text-align: center;
}

.aktuelles span
{
    color: #f72585;
}
span.obst
{
    color: red;
}
span.gemüse
{
    color: green;
}

/*
============================================
================Bilder Größen===============
============================================
*/
img.nav-icon
{
    height: 1.84vw;
    width: 1.84vw;
    min-height: 30px;
    min-width: 30px;
}
img.logo
{
    height: 2.36vw;
    width: 5.26vw;
    min-height: 30px;
    min-width: 69px;
}
img.product-picture
{
    width: 80%;
}

img.user-picture
{
    height: 150px;
    width: 150px;
}

img.addtocartpicture
{
    height: 2em;
    width: 2em;
}

/*
=================================================================
======================== Checkout Page ==========================
=================================================================
*/
.checkoutcontainer
{
    text-align: center;
}

.checkout-header
{
    display: block;
    margin: 0 2vw;
}
.checkout-header > p
{
    font-size: 20px;
    color: #5331a3;
    text-align: center;
}

.checkoutinhalt
{
    padding: 1rem 2rem;
}

.checkout-header
{
    display: block;
    margin: 0 2vw;
}
.checkout-header > p
{
    font-size: 20px;
    color: #5331a3;
    text-align: center;
}

.checkoutinhalt
{
    padding: 1rem 2rem;
}

.checkoutreihe
{
    width: 30%;
    margin: 0 auto;
}

table.checkoutreihe tr
{
    text-align: center;
}

.checkoutreihe img
{
    max-width: none;
    height: 50px;
    width: 50px;
}

.checkoutliste .produktname
{
    margin: 0;
}

.checkoutreihe img
{
    max-width: none;
    height: 50px;
    width: 50px;
}

.checkoutliste .produktname
{
    margin: 0;
}

form > .shopping-cart-remove-item-btn
{
    /* kein */
    padding: 0; 
    border: none; 
    background: none; 
    cursor: pointer;
}

.shopping-cart-remove-item-btn b
{
    color: red; 
    background-color: white;   
}

form .checkoutbuy 
{
    padding: 7px 20px;
    margin-top: 7px;
    margin-bottom: 20px;
}

/*
=================================================================
================ Remove arrows from number-inputs ===============
=================================================================
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number]
{
  -moz-appearance: textfield;
}