body
{
    font-family: 'Averia', 'Times New Roman';
    min-height: 100vh;
    margin: 0;
    clear: both;
    overflow-x: hidden;
    list-style: none;
}

a
{
    text-decoration: none;
}

h1
{
    text-align: center;
}

.wrapall
{
overflow:auto;
position: relative;
height: 100%;
width: 100vw;
}

img.logo
{
    height: 2.36vw;
    width: 5.26vw;
    min-height: 30px;
    min-width: 69px;
}

div.navbartrigger a.icon
{
    position: absolute;
    top: 50%;
}

div.navbartrigger a.ferret
{
    margin-top: -15px;
    margin-right: -34.5px;
    right: 50%;
}

div.navbartrigger
{
    display: flex;
    position: relative;
    width: 100vw;
    height: 50px;
    background-color: #5331a3;
}