body
{
    font-family: 'Averia', 'Times New Roman';
    min-height: 100vh;
    clear: both;
    margin: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 27px;
}

a
{
    text-decoration: none;
}

h1
{
    text-align: center;
}

.wrapall
{
margin: 5vw 10vw;
position: relative;
height: 100vh;
width: 80vw;
}

.wrapall img
{
    text-align: center;
}

.wrapall > a
{
    font-size: 20px; 
    color:blueviolet;
    display: block;
    text-align:center;
}

img.logo
{   
    height: inherit;
    width: inherit;
    min-height: 30px;
    min-width: 69px;
}

div.navbartrigger a.icon
{
    position: absolute;
    top: 50%;
}

div.navbartrigger a.ferret
{
    height: 2vw;
    width: 5vw;
    margin-top: -1vw;
    margin-right: -2.5vw;
    right: 50%;
}

div.navbartrigger
{
    display: flex;
    position: relative;
    width: 100vw;
    height: 50px;
    background-color: #5331a3;
}